*.pyc
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.pyo

node_modules/
yarn-error.log
yarn-debug.log
package-lock.json

/build/
/.env

*.docker
*.docker-compose.yml
*.docker-compose.override.yml
*.docker-compose.env.yml
docker-compose.override.yml
*.log
*.env